@model  IEnumerable<Programs>
@{
    ViewData["Title"] = "Index";
}
<div class="container p-3">
    <div class="row pt-4">
         <div class="col-6">
             <h2 class="text-primary">Programs list</h2>
         </div>
        <div class="col-6 text-end" style="padding: 2pt">
             <a asp-controller="Program" asp-action="Create" class="btn btn-primary">
              <i class="bi bi-plus-circle"></i> &nbsp; Add new program </a>
             
             <form asp-controller="Program" asp-action="Index" method="get" style="margin-top:5pt">
</form>

       
</div>
</div>
     </div>
     <table class="table table-bordered table-striped" style="width:100%">
<thead>
    <tr>
        <th>
            Name of program
        </th>
        <th>
            Archive
        </th>
        </tr>
</thead>
@foreach (var obj in Model)
        {
            <tr>
                <td width="50%">
                    @obj.NameProgram
                </td>
                <td width="30%">
                    <input id="chk@(obj.IsArchive)"
                   type="checkbox"
                   />
                </td>
            </tr>
        }

</table>
</div>